.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: black;
  color: white;
}

.displayNoneInput {
  display: none;
}

.input_display {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 40px;
  text-align: center;
  margin: auto;
}

.input-style {
  height: 30%;
  text-align: center;
  background-color: black;
  color: white;
  border: none;
  border-bottom: white 2px solid;
} 

.form-display {
  height: 30%;
}

.SecondsText-not-visible {
  visibility: hidden;
}

.SecondsText-visible {
  visibility: visible;
}